# HackerRank
### namedtuples()
https://www.hackerrank.com/challenges/py-collections-namedtuple/problem

- The first line contains an integer N, the total number of students.
- The second line contains the names of the columns in any order.
- The next N lines contains the marks, IDs, names and class, under their respective column names.

Input Format:

first line: 5

second line:

| ID     |    MARKS   |   NAME   |    CLASS |
|--------|------------|----------|----------|
| 1      |     97     |  Raymond |     7    |
| 2      |     50     |  Steven  |     4    |
| 3      |     91     |  Adrian  |     9    |
| 4      |     72     |  Stewart |     5    |
| 5      |     80     |   Peter  |    6     |

In [1]:
from collections import namedtuple

In [2]:
# Roster input
roster = [
    '1 97 Raymond 7',
    '2 50 Steven 4',
    '3 91 Adrian 9',
    '4 72 Stewart 5',
    '5 80 Peter 6'
]

# Column names
cols = 'ID MARKS NAME CLASS'

cols = cols.split()
print(cols)

['ID', 'MARKS', 'NAME', 'CLASS']

In [3]:
def get(lst, n):
    return [i[n] for i in lst]

n = len(cols)
studentList = namedtuple('studentList', cols)
split = [i.split() for i in roster]
field1, field2, field3, field4 = get(split,0), get(split,1), get(split,2), get(split,3)
student = studentList(field1, field2, field3, field4)

total = 0
for i in range(int(n)):
    total += int(student.MARKS[i])

avg = total/int(n)
print(avg)

77.5